@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: #c2d2e4;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #19743b;
}

.swal2-title {
    @apply text-xl;
}

.swal2-html-container {
    @apply text-xs 2xl:text-sm;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    @apply bg-primary rounded-md text-sm;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    @apply rounded-md text-sm;
}

div:where(.swal2-container) .swal2-html-container {
    @apply text-base;
}

.dataTables_length select {
    width: 4rem;
    margin: 0 0.5rem;
    font-size: 0.875rem;
}

/* BUTTON CUSTOM STANDART */

.btn {
    @apply px-5 py-2 rounded font-medium border-none text-center text-sm cursor-pointer;
}
.btn-filled {
    @apply px-5 py-2 w-full box-border rounded font-medium border-none text-center text-sm;
}
.btn-edit {
    @apply bg-yellow-400 text-white hover:bg-yellow-500 focus:bg-yellow-500;
}
.btn-delete {
    @apply bg-red-500 text-white hover:bg-red-700 focus:bg-red-700;
}
.btn-success {
    @apply bg-[#22C55E]  text-white hover:bg-green-700 focus:bg-green-700;
}
.btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-700 focus:bg-blue-700;
}
.btn-light {
    @apply bg-white text-gray-500 hover:bg-gray-50 focus:bg-gray-50;
}

/* SELECT 2 */

.select2-container--default .select2-selection--single {
    @apply bg-gray-50 border border-gray-300 rounded-md shadow-none;
}

.select2-container .select2-selection--single {
    @apply p-2.5 h-10 flex items-center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    @apply h-10;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    @apply px-0 text-sm;
}

.select2-container--default .select2-results__option {
    @apply px-2 py-1 text-sm;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    @apply bg-primary text-white;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    @apply bg-primary text-white;
}

.dt-container :where(.dt-length) select.dt-input {
    width: 4rem;
    margin: 0 0.5rem;
    font-size: 0.875rem;
    appearance: none !important;
}
.dt-container :where(.row) th.dt-orderable-asc {
    background-color: #f2f2f2 !important;
}
/* CSS untuk indikator loading */
.dataTables_paginate {
    background-color: whitesmoke;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}

.dataTables_paginate a {
    border-radius: 5px !important;
    transition: 0.2s ease-in-out;
}

.dataTables_paginate a:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
}

/* .dataTable thead th {
    border: none !important;
    padding: 15px;
} */

.dataTable thead tr th {
    border: none !important;
    border-bottom: 1px solid #e2e8f0 !important;
}

.dataTable thead th::after,
.dataTable thead th::before {
    visibility: hidden;
}

.dataTable tbody td {
    border-bottom: 1px solid #f2f2f2;
}

.fg-toolbar {
    background-color: white;
    border: none !important;
}

.no-footer {
    border: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: silver;
}

::-webkit-scrollbar-track {
    background-color: white;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #2563eb;
    color: #ffffff;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #2563eb;
    color: #ffffff;
}

#tableContent_filter {
    margin-bottom: 10px;
    margin-left: auto;
}

.tombol {
    background-color: #22c55e;
}

#loading {
    border-top: 4px solid #3498db;
    border-right: 4px solid #e74c3c;
    border-bottom: 4px solid #2ecc71;
    border-left: 4px solid #f39c12;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    animation: spin 1s linear infinite;
    z-index: 999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
